.loader {
  margin: 50px auto 0;
  border: 8px solid var(--brand-alt);
  border-top: 8px solid var(--brand);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.loading__container {
  position: relative;
}

.loading__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  -webkit-transform: translate(-50%, -200%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
